textarea {
    width: 98%;
    height: 80%;
    background-position: center;
}

body {
    background: url("bg.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#message {
    position: absolute;
    width: 88%;
    height: 50px;
}

#send {
    position:relative;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    height: 55px;
    width: 10%;
    left: 90%;
}

#send:hover {
    background-color: #008CBA;
    color: white;
}